.zgz h4{text-align:center; margin:5px 0 5px 0;}
.zgz .zag-cont{padding:10px; margin:10px 0 10px 0; border:1px solid gray; overflow:auto; height:350px;}
.zag-cont p{margin-bottom:2px !important;}
.shcetchik{padding: 5px;    margin: 10px 0 10px 0;    background-color: #dedede;} 
.hist-cont{padding:10px;margin:15px 0 15px 0; background-color:#f4f4f4;}